%p{:style=>"font-size:24px"}  Make My Profile

%p{:style=>"font-size:22px;margin:20px 10px 0 10px;"}  Technical Description

%p{:style=>"font-size:18px;margin:10px 14px;"}
  Site is built on 
  %ul{:style=>"font-size:16px;"}
    %li{:style=>"margin:5px 0 10px 20px"}
      %b Ruby On Rails 
    %li{:style=>"margin:5px 0 10px 20px"}  
      %b Mongodb
    %li{:style=>"margin:5px 0 10px 20px"}
      %b PDF
      is generated using 
      %a{:href=>'https://github.com/amardaxini/acts_as_flying_saucer'} acts_as_flying_saucer

%p{:style=>"font-size:22px;margin:20px 10px 0 10px;"}
  Contact us
%p{:style=>"font-size:16px;margin:9px 10px 0 20px;"}
  You can conact us our mail id 
  %i 
    %a{:href=>"mailto:iparamtech@gmail.com"} iparamtech@gmail.com
