%div.grid_16
  %div.resume-demo.grid_9
    Resume
  %div.sign_up.grid_7
    %div.login_form
      .sign_up_text 
        =link_to "Sign Up","#",:id=>"signup-link"
        | 
        =link_to "Login","#",:id=>"login-link"   
      %div.signup-form-div{:style=>"display:none"}
        = render :partial=>"home/sign_up_form"
      %div.login-form-div
        = render :partial=>"home/login_form"  
  =clearing_span
